<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PhotoUploader" connectionString="Data Source=FITFREAKSLAPTOP\SQLEXPRESS;Initial Catalog=PhotoUploader;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PhotoUploaderEntities" connectionString="metadata=res://*/App_Code.PhotoUploader.csdl|res://*/App_Code.PhotoUploader.ssdl|res://*/App_Code.PhotoUploader.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FITFREAKSLAPTOP\SQLEXPRESS;initial catalog=PhotoUploader;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
    <pages theme="Global" styleSheetTheme="Global">
      <controls>
        <add tagPrefix="ZimbabweCyclist" tagName="ContactForm" src="~/Controls/ContactForm.ascx" />
      </controls>
    </pages>
    <siteMap defaultProvider="MainMenu">
      <providers>
        <add name="MainMenu" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Web.sitemap" />
        <add name="ManagerMenu" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Manager.sitemap" />
        <add name="UserMenu" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/User.sitemap" />
      </providers>
    </siteMap>
    

  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="David Martin &lt;example@hotmail.com&gt;">
        <network host="smtp.gmail.com" password="xxx" userName="example@hotmail.com" port="587" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>